install: pip install --no-cache-dir -U tox-travis
script: tox
python:
- 3.8
- 3.7
- 3.6

os: linux
language: python

jobs:
  include:
  - stage: deploy
    name: "Deploy to GitHub Pages"
    language: node_js
    node_js:
      - 12
    install:
      - yarn
    before_script:
      - echo $(python3.6 --version)
      - python3.6 -m pip || wget -qO- https://bootstrap.pypa.io/get-pip.py | python3.6
      - python3.6 -m pip install --user cookiecutter invoke npm-package-validator
      # - invoke generate
      # cookiecutter --default-config
      - python3.6 -m cookiecutter . --no-input
    script: cd cookiecutter-webgl && yarn && yarn build && mkdir out && cp -r dist out/ && cp index.html out/ && touch out/.nojekyll
    # - pipenv install --clear --dev --skip-lock
    # python: 3.6
    deploy:
      provider: pages
      local_dir: cookiecutter-webgl/out
      skip_cleanup: true
      # Generate a GitHub access token for public repositories
      # In your travis ci settings, set the token as a secret environment variable $GH_TOKEN
      token: "$GH_TOKEN"
      keep_history: true
      on:
        branch: master
